<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/dashboard/">
  
    <title>Sree's Crazy Work</title>
</head>
<body>
  
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Sreekanth S</a>
        <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
          </li>
        </ul> -->
      </nav>
      <br>
      <br>
      <div class="container-fluid">
        <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'account_info'%}">
                    <span data-feather="home"></span>
                    Account  Info <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'api_token_info'%}">
                    <span data-feather="home"></span>
                    API Token Info <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'license_detail' %}">
                    <span data-feather="file"></span>
                    License
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'admin_user' %}">
                    <span data-feather="file"></span>
                    Administrator Users
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'standard_user' %}">
                    <span data-feather="file"></span>
                    Standard Users
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'data_export_csv' %}">
                    <span data-feather="file"></span>
                    Data Export
                  </a>
                </li>
              </ul>
  
         
 
            </div>
          </nav>

          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">{{page_name}}</h1>
      
            </div>
        
                {% block body %}
                {% endblock %}
     
    <!-- Bootstrap core JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 
   

</body>
</html>